_site/
Gemfile.lock

/.quarto/
_book/
.vscode/settings.json
capitulos/.vdoc.py
capitulos/*_files/
capitulos/*quarto_ipynb
**/*.quarto_ipynb
delitos.zip
capitulos/delitos/*
_freeze/
capitulos/*.html
site_libs/*
